{% from "macros.html" import matrix with context %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>WiFi AR Report</title>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../static/js/scripts.js"></script>
    </head>
    <body>
        {% if scans_data|length != 0 %}
        <div class="report-container">
            <div id="scan_picker">
                <div class="radio {% if scans_data|length == 0 %}hide{% endif %}">
                    {% for i in range(scans_data|length) %}
                        <input type="radio" id="scan_{{ i + 1 }}" name="scans_select" value="{{ i + 1 }}">
                        <label for="scan_{{ i + 1 }}" id="scan_label_{{ i + 1 }}" class="{% if i == active_scan %}active{% endif %}">Scan {{ i + 1 }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="header">
                <h1 id="wifi_name">WiFi: {{ scans_data[active_scan]["wifi_name"] }}</h1>
            </div>
            <div class="content">
                <div class="stats">
                    <div class="stats-block">
                        <h3 id="wifi_strength"><strong>Wifi Strength</strong></h3>
                        <p id="wifi_min_strength">Min: {{ scans_data[active_scan]["wifi_min_strength"] }} dBm</p>
                        <p id="wifi_max_strength">Max: {{ scans_data[active_scan]["wifi_max_strength"] }} dBm</p>
                        <p id="wifi_avg_strength">Average: {{ scans_data[active_scan]["wifi_avg_strength"] }} dBm</p>
                    </div>
                    <div class="stats-block">
                        <h3 id="wifi_speed"><strong>Wifi Speed</strong></h3>
                        <p id ="wifi_min_speed">Min: {{ scans_data[active_scan]["wifi_min_speed"] }} Mbps</p>
                        <p id="wifi_max_speed">Max: {{ scans_data[active_scan]["wifi_max_speed"] }} Mbps</p>
                        <p id="wifi_avg_speed">Average: {{ scans_data[active_scan]["wifi_avg_speed"] }} Mbps</p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="radio">
                            <input type="radio" id="strength" name="image_select" value="strength">
                            <label for="strength" id="strength_label" class="active">Strength</label><br>
                            <input type="radio" id="speed" name="image_select" value="speed">
                            <label for="speed" id="speed_label">Speed</label><br>
                            <input type="radio" id="all" name="image_select" value="all">
                            <label for="all" id="all_label">Map</label>
                        </div>
                        <!-- Rounded switch -->
                        <p class="toggle-label">Show walls:</p>
                        <label class="switch">
                            <input type="checkbox" id="show_walls" onclick="showWalls()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="images">
                        <div id="walls_image"><img id="walls_img" src="{{ scans_data[active_scan]['walls_img_path'] }}" alt="House plan"></div>
                        <div id="all_image"><img id="map_img" src="{{ scans_data[active_scan]['map_img_path'] }}" alt="Wifi quality map"></div>
                        <div id="strength_image" class="active">{{ matrix(scans_data[active_scan]["wifi_strength_matrix"], "dBm", -127) }}</div>
                        <div id="speed_image">{{ matrix(scans_data[active_scan]["wifi_speed_matrix"], "Mbps", scans_data[active_scan]["wifi_max_speed"]) }}</div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="download-button">
                    <button onclick="savePDFAll()" class="main-button">Save As PDF</button>
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <div class="button-options">
                                <a href="#" onclick="savePDFAll()" class="button-option">Save All Scans to PDF</a>
                                <a href="#" onclick="savePDF()" class="button-option">Save Selected Scan to PDF</a>
                            </div>
                        </div>
                        <div class="expand-arrow">&#x25B2;</div>
                    </div>
                </div>
                
            </div>
        </div>
        {% else %}
        <h2>Waiting for data...</h2>
        {% endif %}
    </body>
</html>